{% extends 'layouts/default/page.html' %} {% block content %}
<div class="container row justify-content-center mt-2 p-2">
    <div class="col-md-8">
        <div class="text-black-50 fs-4">
            Post A Job
        </div>
        <form action="{% url 'resumes:hr_job_postings' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Job Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Software Developer" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Job Location</label>
                <input type="text" class="form-control" name="location" id="location" placeholder="Kuala Lumpur, Malaysia" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Skills Required</label>
                <textarea type="text" class="form-control" name="skills" id="skills" rows="3" placeholder="Python, Java, etc" required></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Job Description</label>
                <input type="file" class="form-control" name="job_description_file" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Joining date</label>
                <input type="date" class="form-control" name="joining_date" required>
            </div>
            <button type="submit" class="btn btn-group w-100 btn-primary">Submit</button>
        </form>
    </div>
</div>


{% endblock %}